# Node.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Cache directories
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Expo specific
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
out/
.next
.nuxt

# OS specific
.DS_Store
*.pem

# Misc
.lock-wscript
.node_repl_history
*.tgz
.yarn-integrity
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
app-example

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Bun
bun.lockb
.bun
